<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Teachers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teachers</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Lista de tarjetas -->
  <div class="card-list">
  <ion-card *ngFor="let teacher of teachers">
    <div class="image-column">
        <img src="{{teacher.urlImage}}" alt="">
    </div>
    <div class="text-column">
        <ion-card-header>
            <ion-card-subtitle>{{ teacher.subject }}</ion-card-subtitle>
            <ion-card-title>{{teacher.first_name}} {{teacher.last_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <!-- x cosa -->
        </ion-card-content>
    </div>
    <div class="icon-column">
        <ion-button fill="clear" shape="round" color="primary">
            <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
    </div>
</ion-card>
</div>
</ion-content>
